<!-- include header -->
<%- include('include/_header', {page: "certificates"}) %>
<!-- /include header -->

<!-- Main Site -->
<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Certificate Selection</h1>
    <p class="lead">
      Below are displayed all CTE certificates that you have earned. Uncheck
      those which you have received in previous years.
    </p>

    <div class="list-group mx-0 w-auto">
      <% for(var certificate of certificates) { %>

      <label class="list-group-item d-flex gap-2">
        <input
          class="form-check-input flex-shrink-0 certificate_checkbox"
          type="checkbox"
          checked
          id="<%= certificate.name %>"
        />
        <span> <%= certificate.name %> </span>
      </label>

      <% } %>
    </div>

    <div class="submit_button">
      <a
        class="btn btn-lg btn-primary mt-2"
        onclick="submitCertificates()"
        role="button"
        >Submit Certificates</a
      >
    </div>
  </div>
</main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
