<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<script src="js/auth2.js"></script>

<!-- Main Site -->
<main></main>

<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
