<%- include('include/_header', { page: "export" }) %>

<main>
  <h1>Export Page</h1>
  <a href="<%= encodedUri %>" download="StudentExport.csv"
    >Download Empty CSV</a
  >
</main>

<%- include('include/_footer') %>
