
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
        
            <div class="signin-opts">
                <button id="google-login">
                    <!-- Google logo svg -->
                    <div id="googleImageWrapper">
                        <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <span> Sign in with Google</span>
                </button>
            </div>

        </div>
        
    </div>
</main>
<!-- /Main Site -->

<script src="https://apis.google.com/js/api.js"></script>
<script src="js/auth.js"></script>


<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
