<!-- !!! don't include here; include only in ejs file that needs script -->
<script src="/js/index.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

<p class="footer-text">Developed by 2023-2024 Software Engineering Students: Jack, Carol, Steve, Chris</p>

<style>
  body {
    margin-bottom: 60px; 
  }

  .footer-text {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }
</style>

</body>
</html>
