<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTE Certificates</title>

    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:500">
    <meta name="google-signin-client_id" content="1044226590904-o6i6sqk9j4lql9linthugs8bjt52cltl.apps.googleusercontent.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">

</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/" class="nav-brand text-dark">CTE Certificates</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->
